RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]

<Files .env>
  Order allow,deny
    Deny from all
</Files>

<Files .env.example>
  Order allow,deny
    Deny from all
</Files>
